<div class="carousel">
  <div class="carousel-content-wrapper">
    <div class="carousel-content">
      <h1 class="carousel-title">Haz crecer tu amor por la comida peruana.</h1>
      <p class="carousel-description">Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</p>
      <app-button type="secondary" (clickEvent)="onCartClick()">Nuestra nueva carta</app-button>
    </div>
  </div>
  <div class="carousel-image">
    <img ngSrc="../../../assets/images/restaurante-peruano.png" alt="Carousel Image" height="460" width="566">
  </div>
</div>
