<div class="seasonal-dish-container">
  <div class="text-content">
    <h2 class="title">Plato de la temporada</h2>
    <p class="description">Descubre el sabor auténtico de Perú con nuestro anticucho de temporada. Este plato, lleno de tradición, combina tiernos trozos de corazón de res marinados en especias, servidos con una salsa de ají y acompañados de papas doradas. Una experiencia culinaria que te transportará a las calles de Lima.</p>
  </div>
  <div class="image-content">
    <img ngSrc="../../../assets/images/seasonal-dish-cut.png" alt="Seasonal Dish" height="507" width="554">
  </div>
</div>
