<div class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <img ngSrc="../../../assets/images/logo.png" alt="Logo" height="37" width="148">
    </div>
    <div class="footer-columns">
      <div class="footer-column">
        <h3>Platos Estrella</h3>
        <ul>
          <li>Ceviche</li>
          <li>Lomo Saltado</li>
          <li>Causa Rellena</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contacto</h3>
        <p><a href="tel:+51999999999">+51 999 999 999</a></p>
        <p><a href="mailto:dilvant.restaurante@gmail.com">dilvant.restaurante&#64;gmail.com</a></p>
      </div>
      <div class="footer-column">
        <h3>Encuéntranos</h3>
        <p>Av. Dirección 1</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer-bottom">
    <p>&copy; 2023 Todos los derechos reservados.</p>
  </div>
</div>
